@keyframes move {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: 15px;
  }
}
@media (min-height: 500px) and (min-width: 768px) {
  main {
    height: 100vh;
    padding-bottom: 28px;
  }
}
@media (min-height: 500px) and (min-width: 992px) {
  main {
    padding-bottom: 33px;
  }
}
.input-container {
  box-sizing: border-box;
}

textarea {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
}

body main .menu-container {
  width: 100%;
}
body main .menu-container .menu {
  top: 1px;
  left: 1px;
}
body main .menu-container .menu .menu-button-text,
body main .menu-container .menu .menu-button-icon,
body main .menu-container .menu .menu-button {
  border: none;
  color: #2196f3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  width: 30px;
  height: 20px;
  border: 1px solid #3f51b5;
  background-color: transparent;
  margin: 2px;
  float: left;
}
body main .menu-container .menu .menu-button-icon > *,
body main .menu-container .menu .menu-button > * {
  vertical-align: middle;
}
body main .menu-container .menu .menu-button-icon {
  font-size: 12px;
}
body main .menu-container .menu .menu-button-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
body main .menu-container .menu .menu-button {
  font-weight: bold;
  font-size: 16px;
}

body.full .menu-container {
  top: 50px;
}

@media (min-width: 768px) {
  body main .menu-container {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
  }
  body main .menu-container .menu {
    position: absolute;
    top: 2px;
    left: 2px;
  }
}
@media (min-width: 992px) {
  body main .menu-container {
    width: 100%;
  }
  body main .menu-container .menu {
    top: 2px;
    left: 2px;
  }
  body main .menu-container .menu .menu-button-text,
  body main .menu-container .menu .menu-button-icon,
  body main .menu-container .menu .menu-button {
    color: #00897B;
    width: 40px;
    height: 25px;
    border: 1px solid #00897B;
    margin: 2px;
  }
  body main .menu-container .menu .menu-button-icon {
    font-size: 12px;
  }
  body main .menu-container .menu .menu-button-icon .fa {
    top: -2px;
  }
  body main .menu-container .menu .menu-button-text {
    font-weight: bold;
    font-size: 12px;
  }
  body main .menu-container .menu .menu-button {
    font-weight: bold;
    font-size: 16px;
  }
}
@media (min-height: 500px) and (min-width: 768px) {
  body.full main .menu-container,
  body main .menu-container {
    top: auto;
    bottom: 0;
  }
  body.full main .menu-container .menu,
  body main .menu-container .menu {
    top: auto;
    bottom: 2px;
  }
}
.output-container #output {
  background-color: transparent;
  color: #000000;
  border: 1px solid #BBBBBB;
  font-family: monospace;
  padding: 5px;
  box-sizing: border-box;
  padding-right: 0px;
  height: 100%;
}
.output-container #output .placehoder {
  line-height: 2rem;
  color: #AAF;
}
.output-container #output .placehoder .procesar {
  padding: 4px 4px 2px 4px;
  background-color: #AAF;
  color: #33F;
}

.root {
  padding: 0px;
  margin: 0px;
  size: 16px;
  line-height: 16px;
  display: inline-flex;
}
.root .lines {
  float: left;
  display: inline-block;
}
.root .first-level {
  float: left;
  clear: left;
}
.root .index-container {
  float: left;
  display: inline-block;
}
.root .index-container .index {
  min-width: 10px;
  text-align: right;
  color: #0AA;
  margin-right: 5px;
  display: block;
  float: left;
  clear: left;
}
.root .index-container .index.supposed {
  margin-top: 24px;
}
.root .index-container .index.supposed-end {
  margin-top: 24px;
}
.root .index-container.index-container-2 .index {
  min-width: 15px;
}
.root .premise,
.root .supposed,
.root .assertion,
.root .iteration-close {
  margin-top: 8px;
}
.root .premise > *,
.root .supposed > *,
.root .assertion > *,
.root .iteration-close > * {
  float: left;
}
.root .state-error,
.root .state-not-ok,
.root .state-error-left {
  float: left;
  width: 13px;
  height: 13px;
  display: block;
  margin-top: 1px;
  margin-left: 5px;
}
.root .state-error-left {
  margin-top: 15px;
  margin-left: 0px;
  clear: left;
}
.root .assertion {
  float: left;
  clear: left;
}
.root .premise, .root .supposed {
  float: left;
  clear: left;
}
.root .element {
  color: #606;
}
.root .negation {
  display: inline;
  color: #066;
}
.root .negation .negation-content {
  margin-right: 2px;
}
.root .premise-text {
  margin-left: 5px;
  color: #066;
}
.root .supposed-text {
  margin-left: 5px;
  color: #066;
}
.root .iteration {
  box-sizing: border-box;
  border: 1px solid #0BB;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  float: left;
  clear: left;
}
.root .errors {
  margin-right: 10px;
  margin-top: 10px;
  float: left;
  clear: left;
}
.root .error {
  width: 100%;
  color: #F00;
  background: rgba(255, 123, 123, 0.3);
}
.root .error .error-text {
  margin: 0;
}
.root .rule {
  display: inline;
  margin-left: 5px;
}
.root .iteration-close {
  clear: left;
  display: inline-block;
  float: left;
}
.root .binary {
  display: inline;
}
.root .close-exp {
  display: inline;
}
.root .connector {
  margin: auto 5px;
  color: #066;
}
.root .rule-type {
  color: #066;
}
.root .rule-connector {
  color: #080;
}
.root .parenthesis {
  color: #066;
}
.root .parenthesis.start {
  margin-right: 2px;
}
.root .parenthesis.end {
  margin-left: 2px;
}

.input-container,
.output-container {
  float: left;
  position: relative;
  transition: all 0.5s;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.input-container {
  padding-top: 2px;
}
.input-container #input {
  transition: all 0.5s;
  min-height: 300px;
  height: auto;
  width: 100%;
  display: block;
}

.output-container {
  padding-top: 2px;
}
.output-container #output {
  min-height: 100px;
}

.output-mode #input {
  min-height: 20px;
}

@media (min-width: 768px) {
  main .input-container,
  main .output-container {
    padding-top: 28px;
  }
  main .input-container {
    width: 60%;
    padding-right: 2px;
  }
  main .input-container #input {
    min-height: 300px;
  }
  main .output-container {
    width: 40%;
  }
  main .output-container #output {
    min-height: 300px;
  }

  body.output-mode main .input-container {
    width: 40%;
  }
  body.output-mode main .output-container {
    width: 60%;
  }
}
@media (min-width: 992px) {
  main .input-container {
    width: 70%;
  }
  main .output-container {
    width: 30%;
  }
  main .input-container,
  main .output-container {
    padding-top: 33px;
  }

  body.output-mode main .input-container {
    width: 30%;
  }
  body.output-mode main .output-container {
    width: 70%;
  }
}
@media (min-height: 500px) and (min-width: 768px) {
  main .input-container,
  main .output-container {
    padding-top: 2px;
  }
  main .input-container #input {
    min-height: auto;
    height: 100%;
  }
}
